.dealInfo {
  display: flex;
  height: 20px;
  padding-top: 4px;
  background-color: #fff;
}

.dealOfImg {
  width: 15px;
  height: 15px;
  margin-top: 2px;
  margin-left: 15px;
  margin-right: 4px;
  background-size: contain;
}

.location {
  color: #666;
  font-size: 13px;
}

.locationValue {
  color: black;
  font-size: 13px;
  margin-left: 4px;
}

.commonInfoView {
  display: flex;
}
