.dealInfo {
  display: flex;
  height: 20px;
  padding-top: 4px;
  background-color: #fff;
}

.dealOfImg {
  width: 15px;
  height: 15px;
  margin-top: 2px;
  margin-left: 15px;
  margin-right: 4px;
  background-size: contain;
}

.location {
  display: flex;
  color: #666;
  width: 60px;
  height: 20px;
  font-size: 13px;
  align-items: center;
  white-space:nowrap;
}

.locationValue {
  margin-top: 1px;
  color: black;
  height: 20px;
  font-size: 13px;
  margin-right: 5px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

.commonInfoView {
  display: flex;
  flex-direction: row;
}
