.dealUser {
  display: flex;
  background-color: #73e2ff;
}

.userheadImg {
  width: 32px;
  height: 32px;
  margin-top: 4px;
  margin-left: 15px;
  margin-right: 10px;
  margin-bottom: 4px;
  border-radius: 32px;
  background-color: #fff;
  background-size: contain;
}

.userheadImgLocal {
  width: 32px;
  height: 32px;
  margin-top: 4px;
  margin-left: 15px;
  margin-right: 10px;
  margin-bottom: 4px;
  border-radius: 32px;
  background-color: #fff;
  background-size: contain;
  background-image: url('../../img/userhead.png');
}

.userinfo {
  flex: 1;
}

.nameAndImg {
  display: flex;
}

.username {
  color: #fff;
  font-size: 15px;
  margin-top: 3px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.validImage {
  width: 14px;
  height: 14px;
  margin-top: 5px;
  margin-left: 4px;
  border-radius: 14px;
  background-color: rgba(0,0,0,0);
  background-size: contain;
  background-image: url('../../img/valid.png');
}

.occupation {
  display: flex;
  height: 15px;
  color: #fff;
  font-size: 12px;
  align-items: center;
}

.type {
  display: flex;
  color: #fff;
  width: 28px;
  height: 28px;
  font-size: 16px;
  border-radius: 28px;
  border: 2px solid #fff;
  text-align: center;
  align-items: center;
  justify-content: center;
  transform: rotate(30deg);
}
