.productOfCell {
  display: flex;
  background-color: #fff;
  border-top: 1px solid #ededed;
}

.productOfImg {
  height: 70px;
  width: 70px;
  margin-right: 8px;
  background-size: contain;
}

.productOfImgLocal {
  height: 70px;
  width: 70px;
  margin-right: 8px;
  background-size: contain;
  background-image: url('../../img/userhead.png');
}

.productOfInfo {
  flex: 1;
  height: 70px;
  background-color: #fff;
}

.productTitle {
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  margin-top: 4px;
  margin-right: 15px;
  margin-bottom: 4px;
  font-size: 15px;
  height: 25px;
}

.down {
  display: flex;
}

.left {
 flex: 1;
}

.right {
  display: flex;
  width: 100px;
  margin-right: 15px;
  justify-content: center;
}

.quantityTitle {
  color: #ccc;
  height: 20px;
  font-size: 15px;
}

.quantityValue {
  display: flex;
  color: #73e2ff;
  font-size: 15px;
  height: 15px;
  align-items: center;
}

.homeDetail {
  display: flex;
}

.detailTitle {
  color: #ccc;
  height: 17px;
  display: flex;
  font-size: 12px;
  align-items: center;
}

.detailValue {
  color: #666;
  height: 17px;
  display: flex;
  font-size: 12px;
  align-items: center;
}
