.root {
  background-color: #fff;
}

.cellSeparator {
  background-color: #ededed;
  height: 10px;
}

.detailInfo {
  background-color: #ededed;
}

.navigator {
  padding-top: 20px;
  top: 0px;
  left:0px;
  right: 0px;
  height: 44px;
  display: flex;
  position:fixed;
}

.backImg {
  width: 30px;
  height: 30px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0);
}

.navigatorTitle {
  display: flex;
  flex: 1;
  margin-left: -44px;
  align-items: center;
  justify-content: center;
  color: black;
}
