html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}

.root {
  background-color: #fff;
}

.cellSeparator {
  background-color: #ededed;
  height: 10px;
}

.detailInfo {
  background-color: #ededed;
}

.navigator {
  top: 0px;
  left:0px;
  right: 0px;
  height: 44px;
  display: flex;
  position:fixed;
}

.backImgWrite {
  width: 30px;
  height: 30px;
  margin-top: 7px;
  margin-left: 5px;
  background-size: contain;
  background-color: rgba(0, 0, 0, 0);
  background-image: url('../../img/back_write.png');
}

.backImgBlack {
  width: 30px;
  height: 30px;
  margin-top: 7px;
  margin-left: 5px;
  background-size: contain;
  background-color: rgba(0, 0, 0, 0);
  background-image: url('../../img/back_black.png');
}

.navigatorTitle {
  display: flex;
  flex: 1;
  margin-left: -44px;
  align-items: center;
  justify-content: center;
  color: black;
}
