html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}

a,img,button,input,textarea,div{
  -webkit-tap-highlight-color:rgba(255,255,255,0);
}

.root {
  background-color: #fff;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rowView {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
