.searchListView {
  background-color: #ededed;
  justify-content: center;
}

.searchListViewHotSearch {
  padding-bottom: 10px;
  background-color: #fff;
}

.searchListViewHistory {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  background-color: #fff;
}

.searchListViewHotSearchTitle {
  color: #474747;
  font-size: 13px;
  padding-top: 15px;
  margin-left: 15px;
  padding-bottom: 10px;
  border-bottom:solid 1px #ededed;
}

.searchListViewHistoryTitle {
  color: #474747;
  font-size: 13px;
  padding-top: 15px;
  padding-bottom: 10px;
  background-color: #fff;
}

.searchListViewHotSearchTitleView {
  display: flex;
  margin-left: 15px;
  flex-direction: row;
  border-bottom:solid 1px #ededed;
}

.searchListViewHistoryDelete {
  display: flex;
  color: #474747;
  flex: 1;
  padding-right: 15px;
  font-size: 13px;
  padding-top: 15px;
  padding-bottom: 10px;
  justify-content: flex-end;
  background-color: #fff;
}

.searchListViewHotSearchView {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 15px;
  background-color: #fff;
}

.searchListViewHotSearchItem {
  font-size: 13px;
  font-weight: 300;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 4px;
  margin-top: 15px;
  margin-right: 15px;
  border:solid 1px #ededed;
}

.noDealView {
  display: flex;
  padding-top: 40px;
  background-color: #fff;
  align-items: center;
  justify-content: center;
}

.loadingMore {
  display: flex;
  height: 50px;
  font-size: 14px;
  font-weight: 300;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
