.searchTabInputView {
  top: 0;
  left:0;
  right: 0;
  height:44px;
  z-index: 10;
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
}

.searchTabInput {
  display: flex;
  flex: 1;
  height: 30px;
  font-size: 14px;
  border-width: 0px;
  margin-left: 10px;
  padding-left: 10px;
  align-items: center;
  justify-content: flex-start;
  background-color: #ededed;
}

.searchTabText {
  color: #666;
  font-size: 13px;
  margin-left: 10px;
  margin-right: 15px;
  background-color: #fff;
}

.searchListSelectTabView {
  top: 44;
  left:0;
  right: 0;
  height:40px;
  z-index: 10;
  position: fixed;
  display: flex;
  flex-direction: row;
  border-top:solid 1px #ededed;
  border-bottom:solid 1px #ededed;
  background-color: #fff;
}

.searchListTabButton {
  display: flex;
  flex: 1;
  height: 40px;
  align-items: center;
  justify-content: center;
}

.searchListTabLocationImg {
  width: 14px;
  height: 14px;
  margin-right: 5px;
  background-size: contain;
  background-image: url('../../img/location.png');
}

.searchListTabTypeImg {
  width: 14px;
  height: 14px;
  margin-right: 5px;
  background-size: contain;
  background-image: url('../../img/type.png');
}

.searchListTabFilterImg {
  width: 14px;
  height: 14px;
  background-size: contain;
  background-image: url('../../img/filter.png');
}

.searchListTabText {
  font-size: 13px;
  color: #474747;
  margin-right: 5px;
}

.searchListTabTextColor {
  font-size: 13px;
  color: #73e1fc;
  margin-right: 5px;
}

.searchListTypeView {
  height: 120px;
  background-color: #fff;
}

.searchListTypeViewCell {
  height: 40px;
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: #fff;
  border-bottom:solid 1px #ededed;
}

.searchListTypeViewCellSelectText {
  display: flex;
  flex: 1;
  font-size: 13px;
  padding-left: 15px;
  color: #73e1fc;
}

.searchListTypeViewCellText {
  display: flex;
  flex: 1;
  font-size: 13px;
  padding-left: 15px;
}

.searchListTypeViewCellValue {
  width: 14px;
  height: 14px;
  margin-right: 15px;
  background-size: contain;
  background-image: url('../../img/check.png');
}

.searchListTabViewDown {
  position: absolute;
  bottom: 3px;
  display: flex;
  height: 50px;
  margin-top: 15px;
  flex-direction: row;
  background-color: #fff;
  border-top:solid 1px #ededed;
}

.searchListTabViewDownClean {
  font-size: 14px;
  color: #474747;
  display: flex;
  flex: 1;
  padding-left: 15px;
  align-items: center;
  background-color: #fff;
}

.searchListTabViewDownFinish {
  display: flex;
  height: 52px;
  font-size: 14px;
  color: #fff;
  align-items: center;
  justify-content: center;
  background-color: #73e1fc;
}
