.searchTabInputView {
  top: 0;
  left:0;
  right: 0;
  height:44px;
  z-index: 10;
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  box-sizing: border-box;
  border-bottom:solid 1px #ededed;
}

.searchTabInput {
  display: flex;
  flex: 1;
  height: 30px;
  font-size: 14px;
  border-width: 0px;
  margin-left: 10px;
  padding-left: 10px;
  align-items: center;
  justify-content: flex-start;
  background-color: #ededed;
}

.searchTabText {
  color: #666;
  font-size: 13px;
  margin-left: 10px;
  margin-right: 15px;
  background-color: #fff;
}

.searchListSelectTabView {
  display: flex;
  flex-direction: row;
  border-bottom:solid 1px #ededed;
}

.searchListTabButton {
  display: flex;
  flex: 1;
  height: 40px;
  align-items: center;
  justify-content: center;
}

.searchListTabLocationImg {
  width: 14px;
  height: 14px;
  margin-right: 5px;
  background-size: contain;
  background-image: url('../../img/location.png');
}

.searchListTabTypeImg {
  width: 14px;
  height: 14px;
  margin-right: 5px;
  background-size: contain;
  background-image: url('../../img/type.png');
}

.searchListTabFilterImg {
  width: 14px;
  height: 14px;
  background-size: contain;
  background-image: url('../../img/filter.png');
}

.searchListTabText {
  font-size: 13px;
  color: #474747;
  margin-right: 5px;
}

.searchListTypeView {
  height: 120px;
  background-color: red;
}

.searchListTypeViewCell {
  height: 40px;
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: #fff;
  border-bottom:solid 1px #ededed;
}

.searchListTypeViewCellText {
  display: flex;
  flex: 1;
  font-size: 13px;
  padding-left: 15px;
}

.searchListTypeViewCellValue {
  width: 14px;
  height: 14px;
  margin-right: 15px;
  background-size: contain;
  background-image: url('../../img/location.png');
}
