.dealInfo {
  background-color: red;
}

.view {
  background-color: blue;
}

.dealOfImg {
  width: 14px;
  height: 14px;
  margin-left: 15px;
  margin-right: 5px;
}

.location {
  color: yellow;
  font-size: 12px;
}

.locationValue {
  color: black;
  font-size: 12px;
}
