.detailUser {
  display: flex;
  padding: 15px;
  align-items: center;
  background-color: #fff;
}

.detailUserImg {
  width: 48px;
  height: 48px;
  border-radius: 24px;
  background-size: contain;
  background-color: #ededed;
}

.detailUserImgLocal {
  width: 48px;
  height: 48px;
  border-radius: 24px;
  background-color: #ededed;
  background-size: contain;
  background-image: url('../../img/userhead.png');
}

.detailUserName {
  font-size: 15px;
  font-weight: 600;
  margin-left: 10px;
}

.detailUserValidImg {
  width: 14px;
  height: 14px;
  border-radius: 7px;
  margin-left: 5px;
  background-color: #ededed;
  background-size: contain;
  background-image: url('../../img/valid.png');
}

.detailUserView {
  display: flex;
  margin-left: 15px;
  margin-bottom: 5px;
}

.detailUserIcon {
  margin-top: 3px;
  width: 15px;
  height: 15px;
}

.detailUserTitle {
  color: #666;
  font-size: 15px;
  margin-left: 10px;
}

.detailUserInfo {
  margin-bottom: 20px;
}
